body {
    background-color: rgb(36, 35, 35);
    font-family: Montserrat;
}

.Stew {
    color: white;
    position: fixed;
    left: 450px;
    font-size: 28px;
    font-weight: 600;
    position: fixed;
    top: 15px;
}

.Home > a{
    text-decoration: none;
    color: white;
    position: fixed;
    left: 1150px;
    top: 25px;   
    font-weight: bold; 
}

.Invite > a{
    text-decoration: none;
    color: white;
    position: fixed;
    left: 1250px;
    top: 25px;   
    font-weight: bold; 
}

.Contact > a{
    text-decoration: none;
    color: white;
    position: fixed;
    left: 1350px;
    top: 25px;   
    font-weight: bold; 
}

.head {
    position: fixed;
    left: 400px;
    top: 250px;
    color: white;
    font-size: 20px;
}

.head > a {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 102, 255);
    border-radius: 8px;
    padding: 7px;
    position: fixed;
    top: 370px;
}

.head > p {
    font-size: 28px;
    position: fixed;
    top: 300px;
}

.head > h1 {
    padding-bottom: 19px;
}

.Commands > a{
    text-decoration: none;
    color: white;
    position: fixed;
    left: 1460px;
    top: 26px;   
    font-weight: bold; 
}

.Contact-btn > a {
    text-decoration: none;
    color: white;
    background-color: rgb(66, 69, 73);
    border-radius: 8px;
    padding: 7px;
    position: fixed;
    top: 370px;
    left: 590px;
}